---
// Import the layout and components
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import ImageCard from "../components/ImageCard.astro";
---

<MainLayout title="Diksha Jain">
  <h1 class="title-text">Hello Creative Soul </h1>
  <p class="title-text">Welcome to my little art bank!
    feel free to explore...
  </p>

  <!-- Example of using a component with props -->
  <Button text="Who I Am" />

  <h2>Features</h2>
  <ImageCard
    link="https://iafor.org/wp-content/uploads/2020/08/JoE-blog-writing-an-abstract.jpg"
    height="300"
    caption="Faded..."
  />
  <!-- Example of using another component with props -->
  <Card
    title="Simple Design"
    content="Clean and minimal design that's easy to understand."
  />
  <Card
    title="Easy to Edit"
    content="Change text, colors, and layout with simple code."
  />
  <Card
    title="Learn by Doing"
    content="Every file has helpful comments to guide you."
  />
  <Button text="Go Back" />
</MainLayout>