---
// Import the layout and components
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import ImageCard from "../components/ImageCard.astro";
import DiscoverdCard from "../components/DiscoverdCard.astro";
---

<MainLayout title="Diksha Jain">
  <h1 class="title-text">Hello Creative Soul </h1>
  <p class="title-text">Welcome to my little art bank!
    feel free to explore...
  </p>

  <!-- Example of using a component with props -->
  <Button text="Who I Am" />

  <h2>Features</h2>
  <ImageCard
    link="https://iafor.org/wp-content/uploads/2020/08/JoE-blog-writing-an-abstract.jpg"
    height="300"
    caption="Faded..."
  />
  <!-- Example of using another component with props -->
  <Card
    title="Simple Design"
    content="Clean and minimal design that's easy to understand."
  />
  <Card
    title="Easy to Edit"
    content="Change text, colors, and layout with simple code."
  />

  <DiscoverdCard title="Welcome to Discoverd Section" content="You will see all the things i discoverd in this section" image="https://media.istockphoto.com/id/1304370826/vector/illustration-art-of-day-and-night-opposites-positive-and-negative-moon-and-sun-beautiful-and.jpg?s=612x612&w=0&k=20&c=ywzx7xIitzqpSjW9chp43hUAG7GyJCi2Uewx6T6Kbao="/>

  <Button text="Go Back" />
</MainLayout>